.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50rem;
  min-height: 100vh;
}

.title{
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
}

.description__text{
  font-family: var(--secondary-font);
  font-size: var(--secondary-font-size);
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


